<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Environments" value="snow-app,snow-app1,snow-app3,prod-app1,prod-app2,prod-app3,prod-app4,prod-app5"/>
    <add key="Commands" value="ExportGlobalList,ImportGlobalList,ExportCategories,ImportCategories,ExportProcessConfig,ImportProcessConfig"/>
  </appSettings>
</configuration>